<style>
  .custom_header{
    text-align:center;
  }
  .custom_header>h3{
    font-weight:bolder;
    font-size:2rem;
  }
  .ins-div{
    display:flex;
    width: 100%;
    gap:5%;
  }
  .qual_text{
    font-size:16px !important;
    color:black;
    width:100%;
  }
  .custom_icon_text{
    display:flex;
    width:90%;
    margin:0 auto;
    margin-bottom: 20px;
    justify-content:space-between;
    flex-direction: column;
  }
  .qual_img{
    display:flex;
    align-items:center;
  }
  .qual_img>img{
    width:65px;
  }
  @media screen and (max-width:769px){
    .custom_icon_text{
      display:block;
    }
    .ins-div{
      width:100%;
      justify-content:start;
      align-items:left;
      gap:20px;
    }
    .qual_img>img{
      width:55px;
    }
    .qual_text{
      font-size:14px !important;
    }
  }
  
</style>

<div class="custom_header">
  <h2>{{ section.settings.header_text }}</h2>
</div><br>
  <div class="custom_icon_text table-wrapper">
  
    {% if section.settings.text_1 != blank %}
      <div class="ins-div">
        <div class="qual_img">
          {% if  section.settings.image_1 %}<img src="{{ section.settings.image_1 | image_url }}" >{% endif %}
        </div>
        <div class="qual_text">
          <p>{{ section.settings.text_1 }}</p>
        </div>
      </div>   
    {% endif %}

    {% if section.settings.text_2 != blank %}
      <div class="ins-div">
        <div class="qual_img">
           {% if  section.settings.image_2 %}<img src="{{ section.settings.image_2 | image_url }}" >{% endif %}
        </div>
        <div class="qual_text">
          <p>{{ section.settings.text_2 }}</p>
        </div>
      </div>
    {% endif %}
    
    {% if section.settings.text_3 != blank %}
      <div class="ins-div">
        <div class="qual_img qual_img_third">
           {% if  section.settings.image_3 %}<img src="{{ section.settings.image_3 | image_url }}" >{% endif %}
        </div>
        <div class="qual_text">
          <p>{{ section.settings.text_3 }}</p>
        </div>
      </div>
    {% endif %}
    
    {% if section.settings.text_4 != blank %}  
      <div class="ins-div">
          <div class="qual_img">
             {% if  section.settings.image_4 %}<img src="{{ section.settings.image_4 | image_url }}" >{% endif %}
          </div>
          <div class="qual_text">
            <p>{{ section.settings.text_4 }}</p>
          </div>
      </div>
    {% endif %}

</div>

{% schema %}
  {
    "name": "Icons and Text",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "header_text",
        "default": "Product Specification",
        "label": "Header text"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "default": "<p>Maximum flexibility Comfortable fit with a luxurious feel, with durability at the forefront.</p>",
        "label": "Text 1"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "default": "<p>Crease-free No more ironing: machine wash, hang up and you're ready to go.</p>",
        "label": "Text 2"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "richtext",
        "id": "text_3",
        "default": "<p>Breathable and quick-drying Soft and fresh for the whole day</p>",
        "label": "Text 3"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
      },
      {
        "type": "richtext",
        "id": "text_4",
        "default": "<p>No odour Neutralizes the bacteria that cause body odour when sweating</p>",
        "label": "Text 4"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image 4"
      }
    ],
    "presets":[
      {
        "name": "Icons and Text",
        "category": "section"
      }
    ]
  }
{% endschema %}



